.text {
    font-size: xx-large;
    padding: 1rem;
}

img {
    // height: fit-content;
    // width: fit-content;
    padding: .5rem;
    border-radius: 15%;
}

.text-sm {
    font-size: x-large;
}

.img-loc {
    display: flex;
    flex-direction: row;
    margin-left: 30%;
    height:max-content;
    width: 50%;;

    // @media screen and (min-width: 1000px) {
    //     height: max-content;
    //     width: 40%;
    // }
}
.img-map {
    height: fit-content;
}