// .app__footer {
//   flex: 1;
//   width: 100%;
//   flex-direction: column;

//   @media screen and (max-width: 768px) {
//     flex-direction: column;
//   }
// }

.app__footer-cards {
  width: 50vw;
  display:flex;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
  margin: .5em 18rem 2rem;
  font-size: 3rem;

  .app__footer-card {
    min-width: 290px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: #030300ef;

    transition: all 0.3s ease-in-out;

    img {
      width: 40px;
      height: 40px;
      margin: 0 0.7rem;
    }
    p {
      font-weight: 500;
    }
    a {
      text-decoration: none;
      font-weight: 500;
      font-size: x-large;
      color: rgb(253, 253, 253);
    }
  
    &:hover {
      box-shadow: 0 0 25px #fef4f5;
    }
    @media screen and (max-width: 450px) {
      width: 55%;
    }
  }
  @media screen and (max-width: 1000px) {
    width: 25%;
    margin-left: 40%;
}
}

h2 {

  font-size: xx-large;
}



// img {
//     width: 40px;
//     height: 40px;
//     margin: 0 0.7rem;
//   }